body {
    background-color: #FEFAF0 !important;
}

.container {
    display: flex;
    height: 600px;
}

.logo-container {
    background-color: #27355C;
    border-radius: 0.375rem 0 0 0.375rem;
}

.card {
    border-radius: 0 0.375rem 0.375rem 0 !important;
}

.progress-bar {
    border-radius: 0 0.375rem 0.375rem 0 !important;
}

.justify-questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.justify-endscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,.bg-danger {
    color: white;
}